@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
    width: 100%;
    padding: 10px;

  }

  .profile-photo {
    margin-bottom: 20px;
    height: 200px;
  }

  .about-me-title {
    font-size: 24px;
  }

  .about-content {
    font-size: 18px;
  }

  .social-group {
    display: flex;
    justify-content: center;
  }

  .social-facebook,
  .social-linkedin,
  .social-github {
    height: 25px;
  }

  .bottom-container {
    width: 100%;
  }

  .content-section .card {
    padding: 15px;
    box-sizing: border-box;
  }

  .card-title {
    font-size: 1.5em;
  }

  .card p {
    font-size: 1em;
  }

  .card a {
    margin-top: 15px;
  }

  .header-div {
    height: 50px;
  }

  .title-page {
    font-size: 12px;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  header img {
    height: 35px;
  }

  .navbar {
    font-size: 18px;
    margin-bottom: 30px;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: 15px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
}

@media screen and (max-width: 480px) {
  .main-container {
    width: 100%;
    padding: 10px;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  .profile-photo {
    height: 150px;
  }

  .about-me-title {
    font-size: 20px;
  }

  .about-content {
    font-size: 16px;
  }

  .social-group {
    display: flex;
    justify-content: center;
  }

  .social-facebook,
  .social-linkedin,
  .social-github {
    height: 20px;
  }

  .bottom-container {
    width: 100%;
  }

  .content-section .card {
    padding: 10px;
    box-sizing: border-box;
  }

  .card-title {
    font-size: 1.2em;
  }

  .card p {
    font-size: 0.8em;
  }

  .card a {
    margin-top: 10px;
  }

  .header-div {
    height: 40px;
  }

  .title-page {
    font-size: 10px;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  header img {
    height: 30px;
  }

  .navbar {
    font-size: 16px;
    margin-bottom: 20px;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: 14px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
}